@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #adad0e;
}

#page-header {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 75px;
    border-radius: 30px;
    min-width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4px solid #fff;
}

#paragraph {
    font-style: italic;
    font-size: 21px;
    margin-bottom: 50px;
    color: #fff;
}

#code {
    font-style: normal;
    margin-left: 12px;
}

#generate-btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 26px;
    font-size: 21px;
    background-color: #05A8AA;
    color: #fff;
    border-radius: 12px;
    transition: all .3s ease-in-out;
}

#generate-btn:hover {
    background-color: #DC602E;
}
